Package: com.captinc.batchomatic
Name: Batchomatic
Version: 4.2
Depends: firmware (>=11.0), mobilesubstrate, coreutils
Author: Capt Inc <teamcaptinc@gmail.com>
Maintainer: Capt Inc <teamcaptinc@gmail.com>
Section: Tweaks
Architecture: iphoneos-arm
Description: Batch install your tweaks, repos, saved .debs, tweak preferences, and hosts file!
Depiction: https://captinc.github.io/depictions/batchomatic/batchomatic.html
