Package: com.captinc.batchomaticd
Name: batchomaticd
Version: 3.1
Author: Capt Inc <captinc37@gmail.com>
Maintainer: Capt Inc <captinc37@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Description: Helper tool for Batchomatic
